volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:14
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    env_file: .env
    container_name: foodgram-back
    image: vladisolov/foodgram_backend
    volumes:
      - static:/backend_static
      - media:/media
    depends_on:
      - db
  frontend:
    env_file: .env
    container_name: foodgram-front
    image: vladisolov/foodgram_frontend
    volumes:
      - static:/static
  nginx:
    env_file: .env
    container_name: foodgram-proxy
    image: vladisolov/foodgram_proxy
    ports:
      - 8000:80
    volumes:
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static:/static
      - media:/media
    depends_on:
      - backend
